/**index.wxss**/
.index_swiper{
  swiper{
    width: 750rpx;
    height: 340rpx;
    image{
      width: 100%;
    }
  }
}

.index_cates{
  display: flex;
  navigator{
    padding: 10px;
    flex: 1;
    image{
      width: 100%;
    }
  }
}